* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial',sans-serif;
}

button {
    background-color: transparent;
    outline: none;
    border: none;
    color:#fff;
    padding: 15px 15px;
    display: inline-block;
}

button:hover {
    cursor: pointer;
    background-color: rgb(66, 64, 64);
}

button.mute {
    margin-right: 4px;
}

/* to balance out the small difference in width between this button and the unmuted symbol*/
button.mute i.fas.fa-volume-mute {
    padding-right: 2px; 
}

/* to balance out the increased width when the 'redo' symbol is present */
button.play-pause i.fas.fa-pause, button.play-pause i.fas.fa-play  {
    padding-right: 1.8px; 
}


 
.player {
    width: 60%;
    margin: 0 auto;
    position: relative;
}

.video-container {
    width: 100%;
    margin: 0 auto;
    display: block; /** Why does setting 'inline-block' not make this centered? */
}

/* .video-container.fullscreen {
    width: 100%;
} */

.buttons-column {
    display: flex;
    align-items: center;
}

.buttons-column .time-container {
    padding-left: 10px;
}


.controls {
    opacity: 0;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.733);
    transition: 1s all;
    display: flex;
    flex-direction: column;
    /* padding: 0 5px; */
}

.controls.visible {
    opacity: 1;
    transition: opacity 0.3s;
}

.controls:hover {
    opacity: 1;
    transition: opacity 0.3s;
}

.other-controls {
    display: flex;
    justify-content: space-between;
}

.time-container {
    color: #fff;
}




/* --------- Progress bar styling --------- */
.time-progress-container {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    height: 10px;
    overflow: hidden;
    background-color: rgba(66, 64, 64, 0.7);
}

.volume-container {
    width: 100px;
    box-sizing: border-box;
    position: relative;
    height: 10px;
    /* overflow: hidden; */
    background-color: rgba(66, 64, 64, 0.7);
}

#progress-bar, #volume-bar {
    -webkit-appearance: none;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 3;
}

#progress-bar:hover, #volume-bar:hover {
    cursor: pointer;
}

#progress-bar::-webkit-slider-thumb, #volume-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px; /* 100% does not work*/
    width: 0px;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    z-index: 3;
}

.time-progress-container .progress-curr, .volume-container .volume-curr {
    position: absolute;
    background-color: rgb(109, 52, 214);
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
}


/*  ----------- Speed control container -----------*/
.speed-controls-container {
    position: relative;
    /* display: inline-block; */
}

.speed-controls-container ul.speed-controls {
    display: none;
    list-style-type: none;  
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateX(-100%);
    width:0;
    overflow: hidden;
    transition: all 0.6s;
    display: flex;
}

.speed-controls-container ul.speed-controls li {
    display: inline-block;
}

.speed-toggler:hover  {
    cursor: pointer;
}

.speed-toggler:hover ~ ul.speed-controls, ul.speed-controls:hover {
    width: 280px;
}

ul.speed-controls:hover ~ .speed-toggler {
    transform: rotate(180deg);
}

.speed-controls-container ul.speed-controls button:hover {
    background-color: rgb(66, 64, 64);
}