* {
    margin: 0;
    padding: 0;
}


.player {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.video-container {
    width: 100%;
    margin: 0 auto;
    display: block; /** Why does setting 'inline-block' not make this centered? */
}

.video-container.fullscreen {
    width: 100%;
}

.buttons-column {
    display: flex;
    align-items: center;
}


.controls {
    /* opacity: 0; */
    opacity: 1  ;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    border: 1px solid red;
    background-color: red;
    /* transition: 1s all; */
    display: flex;
    justify-content: space-between;
  }
  
  /* .player:hover .controls, .player:focus .controls {
    opacity: 1;
  } */


  .speed-controls-container {
      position: relative;
      display: inline-block;
  }

  .speed-controls-container ul.speed-controls {
    display: none;
    list-style-type: none;  
    position: absolute;
    right: 0;
    bottom: 100%;
    background-color: orange;
    width: 150%;
  }

  .speed-controls-container ul.speed-controls.visible {
      display: block;
  }